body {
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.background {
    background-image: url(golf.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(5px);
    height: 848px;
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

/* Blurred Background created by making an inline div and
making it absolute and the child relative.  Height had to 
be manually added to .background*/

.container {
    margin: 50px auto 0 auto;
    max-width: 700px;
    position: relative;
}

header {
    text-align: center;
}

#title {
    margin-bottom: 0;
}

#description {
    margin-top: 5px;
}

/* Made background transparent by using rgba() */

#survey-form {
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    padding: 15px 35px 35px 35px;
    background: rgba(35, 98, 48, 0.75);
    color: #fdf7f7;
}

label {
    padding: 20px 0 5px 0;
}

button {
    margin-top: 20px;
    background-color: #0f350f;
    border: #0f350f;
    color: black;   
    font-weight: bold;    
}